body {
  background-color: white;
  color: hsla(0, 0%, 60%, 1);
  font-size: 18px;
  background-color: #FFAAAA;
  font-family: 'Roboto', sans-serif;
}

table {
  border-style: solid;
  background-color: white;
}

td {
  cursor: pointer;
  width: 1em;
  height: 0.75em;
  border-style:solid;
}

.filled {
  background-color: #AA3939;
}

#header {
  text-align: center;
  color: black;
  padding-bottom: 1em;
}

#footer {
  text-align: center;
  padding-top: 1em;
}
